<br>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="department_name">Department Name</label>
      <input name="department_name" [(ngModel)]="department_name" type="text" class="form-control" id="department_name" placeholder="Department Name">
      <h5 *ngIf="department_name_error=='success'" ><small id="" class="form-text text-success">Department added successfully.</small></h5>
      <h5 *ngIf="department_name_error=='already_exists'" ><small id="" class="form-text text-warning">Department already exists.</small></h5>
      <h5 *ngIf="department_name_error=='error'" ><small id="" class="form-text text-danger">Some error occured. Try later.</small></h5>
      <span *ngIf="department_name_error=='loading'" class="loading"></span>
    </div>
  </div>
  <button type="" (click)="addDepartment($event)" class="btn btn-primary">Add</button>
</form>