<!-- Card Component -->
<div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 card-padding">
  <div class="card border-success bg-dark card-custom">
    <!-- <div class="card-header bg-transparent border-success">Header</div> -->
    <div class="card-body text-success">
    <h5 class="card-title text-white">Success card title</h5>
    <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer bg-transparent border-success">
    <span class="m-1 badge badge-primary">Primary</span>
    <span class="m-1 badge badge-danger">Danger</span>
    <span class="m-1 badge badge-warning">Warning</span>
    <span class="m-1 badge badge-danger">Danger is big danger</span>
    <span class="m-1 badge badge-warning">Warning</span>

    </div>
  </div>
</div>
<!-- Card Component End -->