<!-- Card Component -->
<div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 card-padding">
  <div class="card border-success bg-dark card-custom">
    <!-- <div class="card-header bg-transparent border-success">Header</div> -->
    <div class="card-body text-success">
    <h5 class="card-title text-white">B.Tech</h5>
    <p class="card-text text-white">Data Structures Using C</p>
    <a href="https://google.com" target="_blank">
    <button class="btn btn-primary">
      Download
      <span class="badge badge-light">30 MB</span>
    </button>
    </a>
    </div>
    <div class="card-footer bg-transparent border-success">
    <a href="google.com"><span class="m-1 badge badge-primary">B.Tech</span></a>
    <span class="m-1 badge badge-danger">CSE-201</span>
    <span class="m-1 badge badge-warning">Dec-2017</span>
    </div>
  </div>
</div>
<!-- Card Component End -->